/* Matheus */
#game {
    display: flex;
}

#towerStart {
    width: 300px;
    height: 300px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
}
.column {
    height: 250px;
    width: 10px;
    background-color: #000;
    position:absolute;
    z-index:-1
}
.discs {
    height: 20px;
}
#red {
    background-color: red;
    width: 200px;
}
#green {
    background-color: green;
    width: 150px;
}
#purple {
    background-color: purple;
    width: 100px;
}

#blue {
    background-color: blue;
    width: 50px;
}
/* Matheus */

/* Adriel */

/* Adriel */
